.places {
  margin: 0 auto;
  padding: 94px 0 65px;
  max-width: 984px;
  width: calc(100% - (2*148px));
}

@media screen and (max-width: 1100px) {
  .places {
    padding: 94px 0 75px;
    max-width: 928px;
    width: calc(100% - (2*48px));
  }
}

@media screen and (max-width: 800px) {
  .places {
    padding: 138px 0 89px;
    max-width: 720px;
    width: calc(100% - (2*24px));
  }
}

@media screen and (max-width: 600px) {
  .places {
    width: calc(100% - 16px);
  }
}

@media screen and (max-width: 480px) {
  .places {
    padding: 64px 0 66px;
    width: 100%;
  }
}
