.places {
  margin: 0 auto;
  padding: 82px 0 85px;
  width: calc(100% - (2*148px));
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - (2*48px));
    padding: 80px 0 93px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - (2*24px));
    padding: 117px 0 89px;
  }
}

@media screen and (max-width: 618px) {
  .places {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 538px) {
  .places {
    width: calc(100% - 16px);
  }
}

@media screen and (max-width: 480px) {
  .places {
    width: 100%;
    padding: 51px 0 64px;
  }
}
