.places__place-kolsky {
  margin: 80px 0 0;
  padding: 0;
  column-gap: 23px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .places__place-kolsky {
    column-gap: 16px;
    row-gap: 47px;
  }
}

@media screen and (max-width: 768px) {
  .places__place-kolsky {
    margin-top: 46px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .places__place-kolsky {
    margin-top: 75px;
    row-gap: 32px;
  }
}
