.lead {
  max-width: 984px;
  min-height: 1005px;
  width: calc(100% - (2*148px));
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    min-height: 962px;
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    min-height: 862px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    min-height: 406px;
    width: calc(100% - 4px);
  }
}
