.footer__links {
  margin: 94px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 1024px) {
  .footer__links {
    margin-top: 91px;
  }
}

@media screen and (max-width: 768px) {
  .footer__links {
    margin-top: 87px;
  }
}

@media screen and (max-width: 480px) {
  .footer__links {
    margin: 64px 0 0;
    max-width: 186px;
    flex-direction: column;
    row-gap: 32px;
  }
}
