.place__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
  max-width: 484px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    margin: 0 auto 25px;
    width: calc(100% - (2*16px));
  }
}
