.places__place-kosa {
  margin: 0;
  padding: 0;
  column-gap: 23px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .places__place-kosa {
    column-gap: 16px;
    row-gap: 49px;
  }
}

@media screen and (max-width: 768px) {
  .places__place-kosa {
    column-gap: 18px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .places__place-kosa {
    row-gap: 33px;
  }
}
