.cover__link {
  margin: 0 auto;
  padding: 0;
  aspect-ratio: 1/1;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  position: relative;
  object-fit: cover;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.cover__link::after {
  content: "";
  opacity: 0.5;
  transition: opacity 0.3s ease;
  position: absolute;
  background-color: #2A2C2F;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover__link:hover::after {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}
