.place {
  margin: 0 auto 55px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  column-gap: 17px;
  row-gap: 50px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
  .place {
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 800px) {
  .place {
    margin-bottom: 71px;
  }

  .place:last-of-type {
    row-gap: 37px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    row-gap: 32px;
  }

  .place:last-of-type {
    row-gap: 41px;
  }
}
