.place {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
  }
}

@media screen and (max-width: 480px) {
  .place {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
