.place__item-baikal {
  margin: 80px 0 0;
  padding: 0;
  column-gap: 23px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place__item-baikal {
    column-gap: 16px;
    row-gap: 49px;
  }
}

@media screen and (max-width: 768px) {
  .place__item-baikal {
    margin-top: 72px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 320px) {
  .place__item-baikal {
    margin-top: 50px;
    row-gap: 32px;
  }
}
