.photo-grid__gallery-list {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .photo-grid__gallery-list {
    max-height: 216px;  /* именно высота этого селектора на этой ширине
                           дает лишний отступ в 3px у каждой картинки в гид-сетке,
                           если ее не ограничить */
  }
}
